<!DOCTYPE html>
<head>
   <link href='http://fonts.googleapis.com/css?family=Ranchers' rel='stylesheet' type='text/css'>
   <title>SVz Domotique</title>
   <script type="text/javascript" src="/static/vendor/jquery.min.js"></script>
   <script src="/static/js/main.js"></script>
   <link rel="stylesheet" media="screen" href="/static/css/main.css" />
</head>
<body>

<style>
   body { font-family: 'Ranchers', sans-serif; font-size:8px; }
#fin {  position : absolute;  bottom : 0px; }
</style>

  <div class="container">

      <ul class="polaroids">


     {% for pin in pins %}
       <li>
           <a href="#" class="text {{pins[pin].state}}" id="{{pin}}" data-light="{{pins[pin].state}}" title="{{pins[pin].name}}">
             <img src="/static/img/{{pins[pin].image}}" alt="TELE" class="light {{pins[pin].state}}"/>
           </a>
       </li>
     {% endfor %}
      </ul>
  </div>

<div id="fin">
    <h1>Serveur Domotique | SVz/ioRek</h1>
    <p>Raspberry Pi - Protocole HomeEasy</p>
</div>

</body>
</html>

