<!DOCTYPE html>
<head>
   <link href='http://fonts.googleapis.com/css?family=Ranchers' rel='stylesheet' type='text/css'>
   <title>SVz Domotique</title>
   <script type="text/javascript" src="/static/vendor/jquery.min.js"></script>
   <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/2.3.0/lodash.min.js"></script>
   <script src="/static/vendor/touchswipe.js"></script>
   <script src="/static/js/main.js"></script>
   <script type="text/javascript" src="/static/cron/jquery-cron.js"></script>
   <!-- <link type="text/css" href="/static/cron/jquery-cron.css" rel="stylesheet" /> -->
   <!-- <link type="text/css" href="/static/gentleSelect/jquery-gentleSelect.css" rel="stylesheet" /> -->
   <link rel="stylesheet" media="screen" href="/static/css/main.css" />
   <link rel="stylesheet" media="screen" href="/static/css/bootstrap-select.css" />

</head>
<body>

<style>
   body { font-family: 'Ranchers', sans-serif; font-size:8px; }
#fin {  position : absolute;  bottom : 0px; }
</style>

  <div class="container">

    {% block content %}

    {% endblock %}
     
  </div>




<div id="fin">
    <h1>Serveur Domotique | SVz/ioRek</h1>
    <p>Raspberry Pi - Protocole HomeEasy</p>
</div>

</body>
</html>

