 {% extends "main.html" %}
{% block content %}

 <div class="voice">
   <a class="start" href="#" id="voice">Voice</a>
 </div>
 <div id="debug" style="font-size: 20px"></div>
<div>
 <ul class="polaroids">


{% for pin in pins %}
  <li>
      <a href="#" class="text {{pins[pin].state}}" id="{{pin}}" data-light="{{pins[pin].state}}" title="{{pins[pin].name}}">
        <img src="/static/img/{{pins[pin].image}}" alt="TELE" class="light {{pins[pin].state}}"/>
      </a>
  </li>
{% endfor %}
<script>
	var pins = [ {% for pin in pins %}{id: {{pin}}, name: "{{pins[pin].name}}"},{% endfor %} ]
</script>
 </ul>
 </div>
 {% endblock %}