{% extends "main.html" %}
{% block content %}
  {% for cron in crons %}
    <div class="cron">
      <img src="/static/img/{{cron.pic}}" class="pic">
      <img src="static/img/{{cron.action}}.png" class="action">
      <div class="time">
        <div class="crontime" id="cron-{{loop.index0}}" data-cron="{{cron.time}}"></div>
      </div> 
      {% if cron.activated %}
      <a class="stop statu" href="/schedule/deactivate?cron={{cron.time}}&action={{cron.action}}&id={{cron.id}}">Deactivate</a>
      {% else %}
      <a class="start statu" href="/schedule/activate?cron={{cron.time}}&action={{cron.action}}&id={{cron.id}}">Activate</a>
      {% endif %}
    </div>
  {% endfor %}
  <script>
  var crons = []
  {% for cron in crons %}
    crons.push("{{cron.time}}")
  {% endfor %}
  </script>
{% endblock %}
